rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all documents for now
    // NOTE: This is not secure for a production environment.
    // You should secure your data before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
